{% extends "catalog/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="product-detail">
    {% load thumbnail %}
    {% if course.image %}
    {% thumbnail course.image '300x200' as im %}
    <img src="{{ im.url }}">
    {% endthumbnail %}
    {% else %}
    <img src="{% static 'img/no_image.png' %}">
    {% endif %}
    <h1>{{ course.name }}</h1>
    <p class="price">{{ course.lectures_amount }} lectures</p>
    {{ course.description|linebreaks }}
</div>
{% endblock %}