{% extends "catalog/base.html" %}
{% load static %}
{% block title %}Courses{% endblock %}
{% block content %}
    <div id="main" class="product-list">
        <h1>Courses</h1>
        {% for course in courses %}
            <div class="item">
                <a href="{{ course.get_absolute_url }}">
                    {% load thumbnail %}
                    {% if course.image %}
                        {% thumbnail course.image '300x200' as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'img/no_image.png' %}">
                    {% endif %}
                </a>
                <a href="{{ course.get_absolute_url }}">{{ course.name }}</a><br>
                {{ course.lectures_amount }} lectures
            </div>
        {% endfor %}
    </div>
{% endblock %}