{% extends "catalog/base.html" %}
{% load static %}
{% block title %}Search{% endblock %}
{% block content %}
    {% if query %}
        <h1>Courses containing "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                Found {{ total_results }} result {{ total_results|pluralize }}
            {% endwith %}
        </h3>
        {% for course in results %}
            <div class="item">
                <a href="{{ course.get_absolute_url }}">
                    {% load thumbnail %}
                    {% if course.image %}
                        {% thumbnail course.image '300x200' as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'img/no_image.png' %}">
                    {% endif %}
                </a>
                <h4><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></h4>
                {{ course.lectures_amount }} lectures
            </div>
        {% empty %}
            <p>There are no results for your query.</p>
        {% endfor %}
        <p><a href="{% url "catalog:course_search" %}">Search again</a></p>
    {% else %}
        <h1>Search for courses</h1>
        <form action="." method="get">
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>
    {% endif %}
{% endblock %}